<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.thingsboard.mqtt.broker.service.processing.MsgDispatcherServiceImpl" level="DEBUG"/>
    <logger name="org.thingsboard.mqtt.broker.service.mqtt.DefaultPublishMsgDeliveryService" level="DEBUG"/>
    <logger name="org.thingsboard.mqtt.broker.actors.client.service.connect.ConnectServiceImpl" level="DEBUG"/>
    <logger name="org.thingsboard.mqtt.broker.actors.client.service.disconnect.DisconnectServiceImpl" level="DEBUG"/>
    <logger name="org.thingsboard.mqtt.broker.server.MqttSessionHandler" level="TRACE"/>
    <logger name="org.thingsboard.mqtt.broker.service.auth.providers.basic.BasicMqttClientAuthProvider" level="TRACE"/>
    <logger name="org.thingsboard.mqtt.broker.actors.client.state.PublishedInFlightCtxImpl" level="INFO"/>
    <logger name="org.thingsboard.mqtt.broker.service.mqtt.persistence.application.ApplicationPersistenceProcessorImpl"
            level="INFO"/>
    <logger name="org.thingsboard.mqtt.broker.actors.device.PersistedDeviceActorMessageProcessor" level="INFO"/>
    <logger name="org.thingsboard.mqtt.broker.dao.sqlts.sql.JpaSqlTimeseriesDao" level="INFO"/>

    <!--    <logger name="org.apache.kafka.clients.NetworkClient" level="OFF"/>-->
    <!--    <logger name="org.apache.kafka.common.utils.AppInfoParser" level="OFF"/>-->
    <!--    <logger name="org.apache.kafka.common.metrics.Metrics" level="OFF"/>-->
    <logger name="org.apache.kafka" level="OFF"/>

    <logger name="com.zaxxer.hikari" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="console"/>
    </root>

</configuration>
