<div fxFlex fxLayout="column" class="config-card-container">
  <div *ngFor="let item of overviewConfig | async">
    <div fxFlex fxLayout="row">
      <span class="flex1">{{ configParamsTranslationMap.get(item.key) | translate }}</span>
      <span class="flex1 config-value">
        <span>{{item.value | boolean }}</span>
        <span *ngIf="item.key === configParams.PORT_MQTT || item.key === configParams.TLS_TCP_PORT">
          <mat-icon class="config-material-icon"
                    ngxClipboard
                    (cbOnSuccess)="onCopy()"
                    [cbContent]="item.value"
                    matTooltip="{{'config.copy-port' | translate}} {{item.value}}">
            content_copy
          </mat-icon>
        </span>
      </span>
    </div>
    <mat-divider></mat-divider>
  </div>
  <span fxFlex></span>
</div>
