<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Quick search">
  </mat-form-field>
</div>
<div class="example-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.title | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let entity; let row = index"
                [ngStyle]="cellStyle(entity, column, row)">
        <span [innerHTML]="cellContent(entity, column, row)"></span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" hidePageSize></mat-paginator>
</div>
