:host {
  .config-table {
    font-size: 14px;
    color: #6c6c6c;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }

  .card-table {
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }

  a {
    font-weight: 600;
  }
}
